Bradley Dice <bdice@bradleydice.com>
Jens Glaser <glaserj@ornl.gov> Jens Glaser <jsglaser@umich.edu>
Jens Glaser <glaserj@ornl.gov> jglaser <jsglaser@umich.edu>
Michael Howard <mphoward@auburn.edu> Michael Howard <mphoward@utexas.edu>
Michael Howard <mphoward@auburn.edu> Michael Howard <mphoward@princeton.edu>
Michael Howard <mphoward@auburn.edu> mphoward <mphoward@princeton.edu>
